/*
Use `border-box` properly:
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body {
  font-family: Raleway, sans-serif;
}

.navbar-inverse {
  background-color: rgba(65, 137, 221, 1);
  color: #fff;
  border:none;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
  background-color: rgba(10, 66, 131, 1);
  color: #fff;
}
.nav .active {
  background-color: rgba(10, 66, 131, 1);
}

#main {
  padding-top: 39px;
}

.no-elements {
  font-size: 30px;
  padding: 200px 50px;
}

.comparison table {
  margin: 40px 0;
  table-layout: fixed;
}

.comparison table tr:first-child {
  font-weight: bold;
}

.comparison table td:first-child {
  font-weight: bold;
  min-width: 150px;
}

.home {
  background: url("../images/bg-image.jpg");
  background-size: cover;
  height: 550px;
}

.home h1{
  color: #eee;
  font-size: 60px;
  padding: 50px 40px 10px;
  font-weight: 300;
}

.home small {
  font-size: 40px;
}

.home a {
  margin-left: 40px;
  color: #eee;
}

.header {
  padding-top: 30px;
}


#product-overview .preview {
  overflow: hidden;
  text-align: center;
  padding-top: 200px;
  position: relative;
}


#product-overview .preview a {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  text-align: center;
}

#product-overview .preview img {
  width: 100%;
}

#product-overview .preview a:before {
  opacity:1;
  content: "";

  transition: opacity 1.2s;
  background: linear-gradient(to top,rgba(0,0,0,.4) 0,rgba(0,0,0,.3) 30%,rgba(0,0,0,0) 100%);

  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

#product-overview .product:hover a:before {
  opacity: 0.1;
}

#product-overview .info {
  padding: 0 15px;
}

#product-overview .info h2 {
  font-size: 24px;
}

#product-overview .info h2 a {
  text-decoration: none;
  color: rgba(10, 66, 131, 0.8);

}

#product-overview .info h2 a:hover {
  color: rgba(10, 66, 131, 1);
}

#product-overview .compare {
  text-align: center;
  position: relative;
  height: 50px;
}

#product-overview .compare label {
  width: 200px;
  padding: 5px 30px 5px 30px;
  margin: 10px;
  background-color: rgba(65, 137, 221, 1);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}

#product-overview .compare label input {
  visibility: hidden;
  width: 0;
}

#product-overview .compare label input:checked + span:after {
  content: "\f05d";
  font: normal normal normal 18px/1 FontAwesome;
  position: absolute;
  right:10px;
  margin-top: 2px;
}

#product-overview .rating {
  text-align: center;
  font-size: 36px;
  position: absolute;
  width: 100%;
  bottom: 15px;
}

#product-overview .rating .label {
  text-align: center;
  font-size: 18px;
  margin: 10px;
}

#product-overview .rating .stars {
  margin-top: 21px;
  text-align: center;
  color: gold;
}

#product-overview .search {
  margin-top: 50px;
}

#product-overview .content {
  margin-top: 50px;
}


#product-overview .content .product {
  margin-bottom: 30px;
}

#product-overview .content .product-inner {
  border: 1px solid #ccc;
  height: 600px;
  overflow: hidden;
  position: relative;
}

#product-overview .content .product:last-child {
  border: none;
}

#product-detail img {
  max-width: 100%;
  max-height: 100%;
}

#product-comparison img {
  max-width: 100%;
  max-height: 100%;
}
th {
  text-transform: capitalize;
}

.col-md-3 .btn {
  margin-top: 15px;
}

.search-field {
  margin-left: 14px;
}
